
@font-face {
    font-family: "malgun";
    src: url("font/malgun.woff") format("woff");

}

html, body{
    width: 100%;
    height: fit-content;
    /* font-family: "malgun"; */
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}